Problem 1: Unique Words in a Sentence

In [1]:
# Input sentence
sentence = input("Enter sentence: ")

words = sentence.split()

unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'and', 'is', 'python', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_paid = max(employees, key=employees.get)

print("Highest Salary:", highest_paid, "-", employees[highest_paid])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [4]:
# List of product prices
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")

total_days = len(attendance)


attendance_percentage = (present_count / total_days) * 100

# Print result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [6]:
# List of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [8]:

text = "python"
char_count = {}


for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print result
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [9]:
numbers = [10, 20, 30]
result_tuple = tuple(numbers)

# Print result
print("Tuple:", result_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [10]:
employees = {
    "Employee": "Madhu",
    "ID": 101,
    "Department": "IT"
}
key_to_check = "Employee"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [11]:
marks = [70, 75, 80, 65]

total = sum(marks)
average = total / len(marks)

# Print result
print("Average Marks:", average)

Average Marks: 72.5